*{
	box-sizing: border-box;
	font-family: Verdana;
}

.logo{
	border-radius: 100%;
	border: 3px solid black;
	margin-top: 15px;
  	margin-bottom: 15px;
	box-shadow: 0px 0px 15px black;
}

.headerlogo{
	text-align: center;
}

.main{
	box-shadow: 0px 0px 10px grey;
	padding: 10px;
	background-color: white;
	max-width: 1000px;
	margin: 2px auto;
	overflow-x: scroll;
}

body{
	background-color: lightgrey;
}

.buttons button{
	margin: 5px;
	text-transform: uppercase;
	border: none;
	box-shadow: 0px 0px 5px grey;
	background-color: lightgray;
	padding: 3px;
}

.buttons button:hover{
	background-color: grey;
}

.buttons{
	margin: 1%;
}

.formcontent{
	display: flex;
}

input, select{
	flex: auto;
	border: none;
	border-bottom: 2px solid grey;
	margin: 1%;
	padding: 1%;
}

@media (max-width: 755px){
	.formcontent{
		flex-direction: column;
	}
}

input:invalid{
	border-color: red;
	caret-color: red;
}

/*TP3*/
table {
	border-collapse: collapse;
	width: 100%;
	margin: 5px auto;
	text-align: center;
	overflow-x: scroll;
}

th {
	padding: 5px;
	/*border-bottom: 1px solid black;*/
}

td {
	padding: 3px;
}

tr {
	border-bottom: 1px solid black;
}

table tr:last-of-type{
	border-bottom: hidden;
}

tbody tr:last-of-type{
	border-bottom: 2px solid black;
}

.aimante {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}

.disabled {
	background-color: black;
	color: red;
}

/**/

nav {
	text-align: center;
	margin-bottom: 7px;
}

nav button{
	background-color: white;
	padding: 3px;
	text-transform: uppercase;
	border: none;
	box-shadow: 0px 0px 3px grey;
}

nav button:hover{
	background-color: lightgrey;
}

#title_task, #title_user {
	text-align: center;
	font-weight: bold;
	text-decoration-line: underline;
}

.chuispala {
	display:none;
}

.suivant {
	text-align: center;
}
